@import "_bootstrap.scss";
@import "_bootstrap-theme.scss";

body > .ember-view {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.application-div {
    flex: 1 0 auto;
}

#draggable-graph {
    position: absolute;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}

rect {
    fill: steelblue;
}
