<div class="application-div" oncontextmenu="return false" onmouseup={{action "menuModal"}}>
    {{#if showModal}}
        {{bootstrap-modal
            modalParams=modalParams
            showModal=showModal
            onRemove=(action "removeModal")
            onSave=(action "createGraph")
            onDelete=(action "deleteGraph")
        }}
    {{/if}}
    <div class="report">
        {{#each components as |c|}}
            {{component c.graph
                args=c
                graphRightClicked=(action 'menuModal')
            }}
        {{/each}}
    </div>
</div>
