<div class="application-div" oncontextmenu="return false" onmouseup={{action "menuModal"}}>
    {{#if showModal}}
        {{bootstrap-modal
            componentX=offsetX
            componentY=offsetY
            showModal=showModal
            onRemove=(action "removeModal")
            onSave=(action "createGraph")
        }}
    {{/if}}
    {{#each components as |c index|}}
        {{component c.graph
            index=index
            args=c
            noClick=(action 'noClick')
        }}
    {{/each}}
</div>
